body {
   background-image: url('../img/pokewallpaper.jpeg');
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Orbitron', sans-serif;
   font-weight: 500;
   font-size: medium;
   color: #effd0d;
}

button {
   background-color: #343a40 ;
   color: #effd0d;
   border: none;
   height: auto;
   font-size: x-large;
}
